body {
    margin: 0;
    padding: 0;
    overflow-y: scroll;
}

button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: #fff;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    font-size: 12px;
}

.checked {
    color: #4169e1;		
}

.navbar {
    width: 100%;
    background-color: #000;
    overflow: auto;
    border-top: 1px solid #fff;
}
  
.navbar a {
    float: left;
    text-align: center;
    padding: 12px;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
}
  
.navbar a:hover {
    background-color: #4169e1;
    color: #fff;
}

.active {
    background-color: #0000ff;
}
  
.navbar input[type=text] {
    padding: 5px 10px;
    border: none;
    margin-top: 4px;
    margin-right: 16px;
    font-size: 17px;
    float: right;
    width: 20%;
}
  
.navbar button {
    float: right;
    padding: 5px 10px;
    margin-top: 4px;
    margin-right: 6px;
    background: #0000ff;
    font-size: 17px;
    border: none;
    cursor: pointer;
    width: 5%;
}

.container {
    height: 450px;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 235px;  			
    text-align: center;			
}

.card ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.card ul li {
    border: 1px solid #ddd;
    margin-top: -1px;
    background-color: #f6f6f6;
    padding: 8px;
}

#capa {  
    position: relative;  
}

#capa .badge {
    position: absolute;
    top: -5px;
    right: -7%;
    padding: 5px 10px;
    border-radius: 50%;
    background: #000;
    color: #fff;
    font-size: 42px;
    opacity: 0.7;
}

footer {
    background-color: #000;
    color: #fff;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .navbar a {
        float: none;
        display: block;
    }
}
